TASK: Write a for..in loop that iterates over all the elements of the squares list and
prints the square root of each to the screen. Hint: you may want to import a function from
the math module to help achieve this.

In [20]:
squares = [4, 9, 16, 25]
import math
for i in squares:
    print(math.sqrt(i))

2.0
3.0
4.0
5.0

TASK: Write some code that uses the append() method to add the next three square
values (49, 64, 81) to the end of the squares list.

In [21]:
squares = [4, 9, 16, 25]
squares.extend([49,64,81])
squares

[4, 9, 16, 25, 49, 64, 81]

TASK: Write some code that uses the extend() method to add the next three square
values, starting at 121 (11 x 11), to the end of the squares list

In [22]:

sq=[121]
sq.extend(squares)
sq

[121, 4, 9, 16, 25, 49, 64, 81]

TASK: Write some code that uses the insert() method to insert the value 2, to the very
beginning of the squares list.

In [23]:

squares.insert(0,2)
squares

[2, 4, 9, 16, 25, 49, 64, 81]

In [24]:
squares.remove(49)
squares

[2, 4, 9, 16, 25, 64, 81]

TASK: Write some code that uses the remove() method to remove the value 3 from the
squares list. Notice how an error is generated since the given value was not present

In [25]:
squares.remove(3)
squares

ValueError: list.remove(x): x not in list

TASK: Create a simple list that contains the values [1, 2, 3, 1, 2] and then use the
remove () method to remove the value 2. Which value is removed?

In [27]:
lst=[1, 2, 3, 1, 2]
lst.remove(2)
lst

[1, 3, 1, 2]

TASK: Write some code that uses the pop() method to remove and display the last value of
the squares list. Print the list afterwards to ensure the value displayed has been removed.

In [28]:
squares.pop()
squares

[2, 4, 9, 16, 25, 64]

TASK: Write some code that uses the pop() method to remove and display the first value of
the squares list. Print the list afterwards to ensure the value has been removed.

In [29]:
squares.pop(0)
squares

[4, 9, 16, 25, 64]

TASK: Write some code that uses the sort() method with no arguments, to alphabetically
sort the exact list of names shown below. Display the list after the sort has been called

In [35]:
names = [ "Eric", "anna", "Sophie", "sam" ]
names.sort()
names

['Eric', 'Sophie', 'anna', 'sam']

TASK: Improve your previous solution so that the list is sorted correctly, ignoring the case
used to write the names. To achieve this you will have to include a key argument in the form
of a lambda expression that returns each string as uppercase letters only. Hint: you can use
the str.upper() method to convert a name to uppercase letters.

In [49]:
#names = [ "Eric", "anna", "Sophie", "sam" ]
upper_case=list(map(lambda names: names.upper(),[ "Eric", "anna", "Sophie", "sam" ]))
upper_case

['ERIC', 'ANNA', 'SOPHIE', 'SAM']

In [51]:
upper_case.sort()
upper_case

['ANNA', 'ERIC', 'SAM', 'SOPHIE']

TASK: Write some code that uses the reverse() method to reverse the values of the
squares list. Print the list afterwards to ensure the values have been reversed.

In [53]:
names = [ "Eric", "anna", "Sophie", "sam" ]
names.reverse()
names

['sam', 'Sophie', 'anna', 'Eric']

TASK: Write some code that finds the index of the colour blue.

In [56]:
colours = ["red", "green", "yellow", "blue", "red"]
print(colours.index("blue", 2)) #it starts searching from position 2 rather than the beginning of the list

3

TASK: Write some code that makes a copy of the colours using the copy() method.
Then make some changes to the original list. Print the contents of the copied list to ensure
these changes have not affected the copy.

In [58]:
colours = ["red", "green", "yellow", "blue", "red"]
new_colors=colours.copy()
new_colors

['red', 'green', 'yellow', 'blue', 'red']

TASK: Write some code that uses a list comprehension to create a list called cubes that
contains the cubed values (x * x * x) of the numbers from 2 to 20 inclusive.

In [61]:
cubes=[x*x*x for x in range(2,21)]
print(cubes)

[8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

TASK: Examine the above code and work out which user names will be placed in the
some_users list. What is the condition that has to be met for inclusion?

In [7]:
all_users=[1,2,3,4,5,6,7]
some_users = [u for u in all_users if len(all_users)< 8]
some_users

[1, 2, 3, 4, 5, 6, 7]

TASK: Create a tuple called address that includes your own “house number”, “street” and,
“postcode” as three different values.

In [63]:
address=(1002,2,2002)
address

(1002, 2, 2002)

TASK: Try entering the above examples to create single element tuples. Then use the
type() function to examine the data-type of the created variables.

In [64]:
empty = ()
type(empty)

tuple

In [65]:
the_one = "Neo",
type(the_one)

tuple

In [66]:
the_one = ("Neo")
type(the_one)

str

TASK: Use sequence unpacking to extract the values you stored within the address tuple
earlier. Unpack the tuple into variables named house_num, street and postcode.

In [67]:
(house_num,street,postcode)=address

In [68]:
house_num

1002

In [69]:
street

2

In [70]:
postcode

2002

TASK: Write some code that calls the print() function to output the contents of the
address tuple you created earlier. Ensure you use the ‘*’ prefix so that the elements are
extracted before being passed to the function. Compare this with a version of the same code
that calls the print() function without using the ‘*’ prefix,

In [71]:
my_range = (10, 30)
for i in range(*my_range):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [72]:
my_range = (10, 30)
for i in my_range:
    print(i)

10
30

# Key Terminology

TASK: Look at each of the phrases below and ensure you understand what each of these
means. For any that you do not understand, do a little research to find a definition of each
term. This research may involve looking back over these notes, or the associated lecture
notes. It may also involve searching for these terms on the Internet.

● Method: A method is a function that “belongs to” an object. (In Python, the term method is not unique to class instances: other object types can have methods as well. For example, list objects have methods called append, insert, remove, sort, and so on.

● List comprehension: List comprehension in Python is a concise way of creating lists from the ones that already exist. It provides a shorter syntax to create new lists from existing lists and their values.

● Tuple: Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

● Tuple Packing: Tuple packing refers to assigning multiple values into a tuple. Tuple unpacking refers to assigning a tuple into multiple variables.

● Sequence Unpacking: Sequence unpacking in python allows you to take objects in a collection and store them in variables for later use. This is particularly useful when a function or method returns a sequence of objects.