TASK: Start the Python Interpreter and input the following expressions, noting each result.

In [4]:
10 < 100

True

In [5]:
100 != 100

False

In [6]:
50 >= 50

True

TASK: Input a program that defines a variable called ‘age’ that is initialised to your own age.
Then type several boolean expressions that compare the variable to see whether it is less
than ‘18’, ‘21’ then ‘31’.

In [7]:
age=20
age<18

False

In [8]:
age<21

True

In [9]:
age<31

True

TASK: Try inputting the following code and note the results.

In [10]:
"a" < "b"

True

In [11]:
"b" < "a"

False

In [12]:
"John" < "Terry"

True

TASK: Try inputting the following code and note the result. Try to work out why the answer is
different from the previous expression (look carefully, it is different).

In [13]:
"john" < "Terry"

False

TASK: Try inputting the following code and note the results.

In [14]:
5 < 10.2

True

In [15]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

TASK: Try inputting the following code and examine the results.

In [18]:
age = 30
age >=18 and age <=65

True

In [19]:
age <18 or age >65

False

In [20]:
not age > 18

False

TASK: Try inputting the following code and examine the result.

In [21]:
age = 30
(age >=18 and age <=65) and (not age==30)

False

TASK: Try inputting two expressions that use operator chaining and are equivalent to the
two expressions shown below. (note: you may first want to first assign values to the
‘weight’ and ‘height’ variables for testing purposes)

In [25]:
weight=100
height=150
100 < weight and weight < 200

False

In [26]:
height > 131 and height < 160

True

TASK: Input the examples above but with alternative operand values, that result in both
True and False results.

In [28]:
message = "Hello there, this is me mohan"
"nam" in message

False

In [29]:
"is" in message

True

TASK: Try writing an if statement that checks if someone is between the ages of 18 and 30
inclusive. If they are, then print a message saying "you are still young!"

In [33]:
age=int(input("enter your age:"))
if age>=18 and age<=30:
    print("you are still young!")

you are still young!

TASK: Try writing an if statement similar to the last example that includes an extra elif
clause to check ages between 30-40. Print a suitable message in the associated code block.

In [34]:
age=int(input("please enter your age"))
if age >=30:
    print("you are still young!")
elif age >=35:
    print("you are middle aged")
elif age >=40:
    print("you are getting old")

you are still young!

TASK: Rewrite the above code that inputs a name then prints a message, but change the
condition so it explicitly uses a Boolean expression. Use the example below to help.

In [64]:
name = input("Enter your name: ")
if len(name) != 0:
    print("Your name is", name)
else:
    print("Name not entered")

Your name is mohan

TASK: Rewrite the code shown below as a single line Ternary expression.

In [67]:
age =int(input("please enter your age:"))
print("you are an adult" if age >=18 else "you are not an adult, yet!")

you are an adult

TASK: Input and execute a for loop that iterates over a list of four names, printing each of
them to the screen.

In [69]:
for n in ["mohan " "nohaan " "khati " "manoj "]:
    print(n)

mohan nohaan khati manoj

TASK: Input and execute a for loop that uses a range() function to generate the following
output:

In [5]:
for n in range(2,11,2):
    print(n, "to the power of",n,"=", n**n  )

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

TASK: Input code containing a for loop that iterates over a list of numbers, printing a
running total during each iteration. You may wish to first define the numbers list as follows:

In [8]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
running_total=0
for n in numbers:
    running_total+=n
    print(running_total)

10
30
60
150
350
380
402
413

TASK: Amend your previous solution so that if any value within the list is found to be over
100 then the loop should break immediately.

In [10]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
running_total=0
for n in numbers:
    running_total+=n
    if running_total>100:
        break
    else:
        print(running_total)

10
30
60

TASK: Amend your previous solution once again, so that the message “all numbers
processed” is printed when the loop completes, but only if all values were less or equal to
100 (i.e. the loop did not break early)

In [14]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
running_total=0
for n in numbers:
    running_total+=n
    if running_total>100:
        break
    else:
        print(running_total)
print("all numbers processed")

10
30
60
all numbers processed

Key Terminiology

● Boolean Expression:
A Boolean expression is a logical statement that is either TRUE or FALSE.

● Relational Operator: A relational operator is a programming language construct or operator that tests or defines some kind of relation between two entities

● Logical Operator: A logical operator is a symbol or word used to connect two or more expressions such that the value of the compound expression produced depends only on that of the original expressions and on the meaning of the operator.

● Operator Chaining: The chaining of operators can be written as follows: if a < b < c : {.....} According to associativity and precedence in Python, all comparison operations in Python have the same priority, which is lower than that of any arithmetic, shifting or bitwise operation.

● Ternary Operator: Ternary operators are also known as conditional expressions are operators that evaluate something based on a condition being true or false.

● Iteration:  Iteration is an important programming language feature. ○ In imperative languages, it is best known in for and while loops.

● Nested Loop: A nested loop means a loop statement inside another loop statement. That is why nested loops are also called “loop inside loops“.