TASK: Try inputting the following code and examine the results.

In [1]:
total = 100
print("The total is", total)

The total is 100

TASK: Try inputting the following code and examine the results.

In [3]:
total = total + 99
print("The total is now", total)

The total is now 199

TASK: Try inputting the following code, but replace each of the assignment expressions with
the equivalent augmented assignment.

In [5]:
total -= 1
print("The total is", total)

total *= 4
print("The total is", total)
total /= 2
print("The total is", total)

The total is 395.0
The total is 1580.0
The total is 790.0

TASK: Try extending the code below so that it creates a new variable called ‘average’, that
is set to equal the average calculated from the two other variables.

In [7]:
total = 98.2
count = 5
average = total/5
print("The average is ", average)

The average is  19.64

TASK: Use the type() function to determine the type of each of the following values.

In [16]:
a=False
type(a)

bool

In [15]:
b=1000
type(b)

int

In [14]:
c=100.111
type(c)

float

In [13]:
e=True
type(e)

bool

In [12]:
f=100 / 5
type(f)

float

In [17]:
g=100 // 5
type(g)

int

TASK: Input the following code and examine the result. What is the * operator doing to the
given string operand?

In [18]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

TASK: Write some code that calls the print() function several times, displaying your
name, address and contact details. Add additional calls to the print() function which
includes an argument that calculates and prints the length of your name, by calling the
len() function.

In [19]:
print("Mohan Khati")
print("Dhapasi")
print("9867342128")

Mohan Khati
Dhapasi
9867342128

In [21]:
name_length="Mohan Khati"
len(name_length)

11

TASK: Input the following code, when asked to type your age input a numeric value such as
20. Does this program work? If not, why?

In [22]:
age = input("Enter your age")
print("in one year your age will be", age + 1)

TypeError: can only concatenate str (not "int") to str

TASK: Write a program that prompts the user to input two numeric values. Once the values
have been input display the product of these values, using the multiply (*) operator.

In [26]:
num1=int(input("enter the first num"))
num2=int(input("enter the 2nd num"))

ans=num1*num2
print("The product of two numbers is", ans)

The product of two numbers is 9

TASK: Try writing the above assignment statement but only use double quotes instead of
single quotes as the string delimiter. What is the result?

In [29]:
comment = "I would have "thought" you knew better"

SyntaxError: invalid syntax (4109385776.py, line 1)

TASK: Write some code that calls a print() function, which takes a single string argument
that results in the following text being displayed (exactly as shown).

In [32]:
print('''This text includes characters such as '\' '"' and "'",

This is a new line that starts with a tab
This new line starts with two tabs''')

This text includes characters such as '' '"' and "'",

This is a new line that starts with a tab
This new line starts with two tabs

TASK: Write some code that calls a print() function, which takes a single string argument
that results in the following text being displayed (exactly as shown).

In [33]:
print(''' \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''')

 \\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\

TASK: Write some code that calls a print() function, which takes a single string argument
that results in the following text being displayed (exactly as shown). Do this without the use
of any escape sequences.

In [35]:
print("""This text spans three lines,
and includes both single ('),
and double quotes (").""")

This text spans three lines,
and includes both single ('),
and double quotes (").

TASK: Rewrite the above example, so that the third letter of the ‘surname’ is accessed
rather than the first, then print this letter to the screen.

In [37]:
surname = "Palin"
initial = surname[2]
print(initial)

l

TASK: Rewrite the above example, so that the tenth letter of the ‘surname’ is accessed,
and note the result.

In [38]:
surname = "Palin"
initial = surname[9]
print(initial)

IndexError: string index out of range

TASK: Rewrite the above example, so that the second from last letter of the ‘surname’ is
accessed rather than the last, then print this letter to the screen.

In [39]:
surname = "Palin"
initial = surname[-2]
print(initial)

i

TASK: Rewrite the above example, so that all of the characters of the ‘surname’ except the
first character are sliced and then displayed on the screen.

In [41]:
surname = "Palin"
middle = surname[1:]
print(middle)

alin

TASK: Write code that accesses and prints all characters of the ‘surname’ except the last
character.

In [42]:
surname = "Palin"
middle = surname[:4]
print(middle)

Pali

TASK: Write code that uses slicing to access then print the first four prime numbers defined
within the ‘primes’ list given above. Note: you will have to input that list first for testing
purposes.

In [43]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
primes[:4]

[2, 3, 5, 7]

TASK: Write code that uses slicing to insert two new names just before the final name within
the ‘names’ list.

In [53]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
names[5:]=["mohan", "manoj"]
names

['Terry', 'John', 'Michael', 'Eric', 'Terry', 'mohan', 'manoj']

TASK: Work out in your head what the contents of the ‘nums’ list would be, then check this
using the Python interpreter.

In [55]:
nums = [1,2,3] * 5
print(nums)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

TASK: Look at each of the phrases below and ensure you understand what each of these
means. For any that you do not understand, do a little research to find a definition of each
term. This research may involve looking back over these notes, or the associated lecture
notes. It may also involve searching for these terms on the Internet.

● Assignment
    
    The Assignment operator, denoted by the "=" symbol, is the operator that is used to assign value to the variables in python.

● Data-type

    A data type in programming, is a classification that specifies which type of mathemetical, relation or logical can be applied to it without causing an error.

● Argument

    The terms parameter and argument can be used for the same thing: information that are passed into a function. From a function's perspective: A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that are sent to the function when it is called.

● Indexing

    Indexing in Python is a way to refer the individual items within an iterable by its position. In other words, you can directly access your elements of choice within an iterable and do various operations depending on your needs.

● Slicing

    The slice() function returns a slice object. A slice object is used to specify how to slice a sequence. You can specify where to start the slicing, and where to end. You can also specify the step, which allows you to e.g. slice only every other item.

● Mutable

    Mutable is when something is changeable or has the ability to change. In Python, 'mutable' is the ability of objects to change their values. These are often the objects that store a collection of data.

● Immutable

    Immutable is the when no change is possible over time. In Python, if the value of an object cannot be changed over time, then it is known as immutable. Once created, the value of these objects is permanent.